<connectionStrings>
  <add name="DefaultConnection" 
  connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-eRestaurantWebsite-3acbb0a1-17db-4b57-90e2-f43e473d9aaf;AttachDbFilename=|DataDirectory|\aspnet-eRestaurantWebsite-3acbb0a1-17db-4b57-90e2-f43e473d9aaf.mdf;Integrated Security=SSPI"
  providerName="System.Data.SqlClient" />

  <add name ="EatIn"
       connectionString =" Data Source=.; 
       Initial Catalog= eRestaurant; 
       Integrated Security = SSPI"
       providerName="System.Data.SqlClient"/>
  
</connectionStrings>
